body{
  font-family: Arial, sans-serif;
  background:#f4f4f4;
  margin:0;
  padding:20px;
}

.container{
  max-width:400px;
  margin:auto;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
  text-align:center;
}

.balance-box{
  text-align:center;
  margin-bottom:20px;
}

#balance{
  color:green;
}

form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

input,
select,
button{
  padding:12px;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:16px;
}

button{
  background:black;
  color:white;
  border:none;
}

ul{
  list-style:none;
  padding:0;
  margin-top:20px;
}

li{
  background:#eee;
  padding:10px;
  margin-bottom:10px;
  border-radius:5px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.expense{
  border-right:5px solid red;
}

.income{
  border-right:5px solid green;
}

.delete-btn{
  background:red;
  color:white;
  border:none;
  padding:5px 10px;
  border-radius:5px;
}
.summary{
  display:flex;
  justify-content:space-between;
  gap:10px;
  margin-top:20px;
}

.income-box,
.expense-box{
  flex:1;
  padding:10px;
  border-radius:10px;
  color:white;
}

.income-box{
  background:green;
}

.expense-box{
  background:red;
}
