body{
  font-family: Arial, sans-serif;
  background:#f4f4f4;
  margin:0;
  padding:20px;
}

.container{
  max-width:400px;
  margin:auto;
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
  text-align:center;
}

/* BALANCE */
.balance-box{
  text-align:center;
  margin-bottom:20px;
}

#balance{
  color:green;
}

/* SUMMARY */
.summary{
  display:flex;
  justify-content:space-between;
  gap:10px;
  margin-top:20px;
}

.income-box{
  flex:1;
  padding:10px;
  border-radius:10px;
  color:white;
  background:#1f9d55;
}

.expense-box{
  flex:1;
  padding:10px;
  border-radius:10px;
  color:white;
  background:#e3342f;
}

/* FORM */
form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

input,
select,
button{
  padding:12px;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:16px;
}

/* BUTTON */
button{
  background: linear-gradient(135deg, #000, #333);
  color:white;
  border:none;
  cursor:pointer;
  transition:0.2s;
}

button:hover{
  transform: scale(1.03);
}

/* LIST */
ul{
  list-style:none;
  padding:0;
  margin-top:20px;
}

li{
  background:#eee;
  padding:10px;
  margin-bottom:10px;
  border-radius:5px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition: 0.2s;
}

li:hover{
  transform: translateY(-2px);
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.expense{
  border-right:5px solid red;
}

.income{
  border-right:5px solid green;
}

/* DELETE */
.delete-btn{
  background:red;
  color:white;
  border:none;
  padding:5px 10px;
  border-radius:5px;
}

/* EDIT BUTTON (FIXED) */
.edit-btn{
  background:#333;
  color:white;
  margin-right:5px;
  border:none;
  padding:5px 10px;
  border-radius:5px;
}

/* FILTER */
.filter-box{
  display:flex;
  gap:10px;
  margin:15px 0;
}

.filter-btn{
  flex:1;
  padding:10px;
  border:none;
  border-radius:8px;
  background:#eee;
  cursor:pointer;
  font-weight:bold;
  transition:0.2s;
}

.filter-btn.active{
  background:black;
  color:white;
}

/* DARK MODE */
body.dark {
  background: #121212;
  color: white;
}

body.dark .container {
  background: #1e1e1e;
}

body.dark li {
  background: #2a2a2a;
}
